<div class="container-fluid">

    <div class="row">

        <div class="col-9">

            <div class="row">
                <img src="" alt="">
            </div>

            <div class="row">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="fas fa-edit"></i>Nome: </li>

                        <li class="list-group-item"><i class="fas fa-edit"></i>Usuário: </li>

                        <li class="list-group-item"><i class="fas fa-edit"></i>E-mail: </li>

                        <li class="list-group-item"><i class="fas fa-edit"></i>Data de nascimento: </li>

                        <li class="list-group-item"><i class="fas fa-edit"></i>Telefone</li>

                        <li class="list-group-item"><i class="fas fa-edit"></i>Sobre mim: </li>

                        <li class="list-group-item"><i class="fas fa-edit"></i>Emprego atual: </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>