<div id="tela">

    <div class="container">

    <!--  <div class="row d-flex justify-content-center align-items-center">
            <h1 class="text-center mt-5">Meu perfil</h1>
        </div>-->  

        <div class="row">.</div>

        <div class="row">
        <div class="col-md-3">
            <div class="card border-roxoclaro mb-3 bg-perfil">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6">
                        <div>
                            <img src="{{foto}}" class=" card-img-top img-fluid rounded-circle  my-3"
                                alt="...">
                            <h4 class="text-center">{{nome}}</h4>
                        </div>
                    </div>

                </div>

                <div class="d-flex flex-column p-1 mt-2">

                    <div class="ms-1">

                        <div class="d-flex align-items-center rounded p-2 border-b-p">
                            <i class="fas fa-user-edit me-2"></i><a class="mr-2-5" routerLink='/inicio'>Página
                                Inicial</a>
                        </div>
                        <div class="d-flex align-items-center rounded p-2  mt-1">
                            <i class="fas fa-align-left me-3"></i><a [routerLink]="['/minhas-postagens', -1]">Minhas Postagens</a>
                        </div>
                    </div>
                </div>

            </div>
        <!--    <div class="sticky-top">
                <div class="card-body bg-roxo4">
                    <h5> <b>Links Páginas</b> </h5>
                    <ul class="my-3">
                        <li class=""><a> Pagina 1</a></li>
                        <li class=""><a> Pagina 2</a></li>
                        <li class=""><a> Pagina 3</a></li>
                        <li class=""><a> Pagina 4</a></li>
                    </ul>
                </div>

            </div>-->
        </div>


        <div class="col-md-9 d-flex flex-column">

            <h1 class="text-center">Meu perfil</h1>

            <div class="container-fluid d-flex align-items-center justify-content-center" id="container-central">

                <div class="col-md-12 bg-l p-3">

    

                    <div class="form-group text-center texto">
                        <div class="d-flex justify-content-between">
                            <a class="v-p-l" (click)="exibeAdmin()" id="adminClick">
                                <p><i class="fas fa-unlock"></i> Cadastrar Admin</p>
                            </a>
                        </div>
                        <!-- <label for="nome">Usuário</label>-->
                        <input [(ngModel)]="usuario.nome" class="form-control bg-in" type="text" name="nome" id="nome"
                            (keyup)="validandoNome()" placeholder="Digite seu Nome e Sobrenome">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="usuario">Email</label>-->
                        <input [(ngModel)]="usuario.email" class="form-control bg-in mt-2" type="text" name="email"
                            id="email" (keyup)="validandoEmail()" placeholder="Digite seu email">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="senha">Senha</label> -->
                        <input (input)="confirmSenha($event)" (blur)="verificandoSenhas()" (keyup)="verificandoSenhas()"
                            class="form-control mt-2 bg-in " type="password" name="senha" id="senha"
                            (keyup)="validandoSenha()"
                            placeholder="Digite a senha (Minimo 8 caracteres, uma letra maiuscula e um número)">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="senha">Senha</label> -->
                        <input [(ngModel)]="usuario.senha" class="form-control mt-2 bg-in " type="text"
                            name="confirmSenha" id="confirmSenha" (keyup)="verificandoSenhas()"
                            placeholder="Confirme a senha digitada">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="senha">Senha</label> -->
                        <input [(ngModel)]="usuario.dataNascimento" class="form-control mt-2 bg-in" type="text"
                            name="dataNascimento" id="dataNascimento" placeholder="Data de Nascimento"
                            (focus)="dataNascimento()">
                    </div>

                    <div class="form-group">
                        <!--<label for="phone">Telefone <span class="required">*</span></label>-->
                        <input [(ngModel)]="usuario.telefone" class="form-control mt-2 bg-in" (keyup)="validandoTel()"
                            type="text" id="phone" name="phone" placeholder="Telefone celular, formato: (99) 9999-9999"
                            pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})"
                            title="Número de telefone celular precisa ser no formato (99) 99999-9999"
                            required="required" />
                    </div>

                    <div>
                        <textarea [(ngModel)]="usuario.descSobre" class="form-control mt-2 bg-in"
                            placeholder="Fale um pouco sobre você" name="textoPublicacao" id="" cols="30"
                            rows="8"></textarea>
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="usuario">Usuário</label>-->
                        <input [(ngModel)]="usuario.fotoPerfil" class="form-control bg-in mt-2" type="text"
                            name="linkFoto" id="linkFoto" (keyup)="validaFoto()"
                            placeholder="Link foto de perfil (não é obrigatório)">
                    </div>

                    <select name="select" class="form-select bg-in mt-2" (change)="tipoUsuario($event)">
                        <option class="fw-bolder" value="valor1" selected>Escolha a opção que se aplica ao seu caso
                        </option>
                        <option class="fw-bolder" value="valor2">Estou em busca de emprego</option>
                        <option class="fw-bolder" value="valor3">Gostaria de divulgar vagas de emprego</option>
                    </select>

                    <div class="form-group text-center texto" id="empresaAtual">
                        <!--  <label for="usuario">Admin</label>-->
                        <input (input)="empresaAtual($event)" class="form-control bg-in mt-2 empresaAtual" type="text"
                            name="inputEmpresaAtual" id="inputEmpresaAtual" placeholder="Digite o nome da sua empresa">
                    </div>

                    <div class="form-group text-center texto" id="admin">
                        <!--  <label for="usuario">Admin</label>-->
                        <input (input)="verificandoAdmin($event)" class="form-control bg-in mt-2" type="text"
                            name="inputAdmin" id="inputAdmin"
                            placeholder="Digite a chave para criação da conta de administrador">
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button (click)='atualizar()' type="submit" class="btn bg-btn w-100">Atualizar</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>

</div>



<!--<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1 class="text-center">Meu Perfil</h1>
        </div>

        <div class="form-group text-center texto">
            <input [(ngModel)]="usuario.email" class="form-control bg-in mt-2" type="text" name="email"
                id="email" placeholder="Digite seu email">
        </div>
        
        <div class="form-group text-center texto">
            <input class="form-control mt-2 bg-in " type="password"
                name="senha" id="senha"
                placeholder="Digite a senha (Minimo 8 caracteres, uma letra maiuscula e um número)">
        </div>
        
        <div class="form-group text-center texto">
            <input [(ngModel)]="usuario.senha" class="form-control mt-2 bg-in " type="password"
                name="confirmSenha" id="confirmSenha"
                placeholder="Confirme a senha digitada">
        </div>
        
        <div class="form-group text-center texto">
            <input [(ngModel)]="usuario.dataNascimento" class="form-control mt-2 bg-in" type="text"
                name="dataNascimento" id="dataNascimento" placeholder="Data de Nascimento"
            >
        </div>
        
        <div class="form-group">
            <input [(ngModel)]="usuario.telefone" class="form-control mt-2 bg-in"
                placeholder="Número de telefone celular precisa ser no formato (99) 99999-9999"
                required="required" />
        </div>
        
        <div class="form-group text-center texto">
            <input [(ngModel)]="usuario.fotoPerfil" class="form-control bg-in mt-2" type="text"
                name="linkFoto" id="linkFoto"
                placeholder="Link foto de perfil">
        </div>
        
        <select name="select" class="form-select bg-in mt-2">
            <option class="fw-bolder" value="valor1" selected>Escolha a opção que se aplica ao seu caso
            </option>
            <option class="fw-bolder" value="valor2">Estou em busca de emprego</option>
            <option class="fw-bolder" value="valor3">Gostaria de divulgar vagas de emprego</option>
        </select>
        
        <div class="form-group text-center texto" id="empresaAtual">
            
            <input class="form-control bg-in mt-2 empresaAtual"
                type="text" name="inputEmpresaAtual" id="inputEmpresaAtual"
                placeholder="Digite o nome da sua empresa">
        </div>
    </div>
</div> -->











<!--<div class="container-fluid bg-fundo">

    <div class="row d-flex justify-content-center">

        <div class="row d-flex justify-content-center">
            <div class="col-md-11 bg-white mt-5">
                <div class="container-fluid bg-white text-center">
                    <h1>Meu Perfil</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">.</div>
            <div class="card border-roxoclaro mb-3 bg-fundo">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6">
                        <div>
                            <img src="" class="bg-l card-img-top img-fluid rounded-circle  my-3" alt="...">
                            <h4 class="text-center"></h4>
                        </div>
                    </div>

                </div>

                <div class="d-flex flex-column p-1 mt-2">

                    <div class="ms-1">

                        <div class="d-flex align-items-center rounded p-2 border-b-p">
                            <i class="fas fa-user-edit me-2"></i><a class="mr-2-5" routerLink='/perfil'>Meu Perfil</a>
                        </div>
                        <div class="d-flex align-items-center rounded p-2  mt-1">
                            <i class="fas fa-align-left me-3"></i><a href="#">Minhas Postagens</a>
                        </div>
                    </div>
                </div>

                ///coment    <div class=" mt-2">
                    <ul class="list-group list-group-flush ">

                        <li class="list-group-item bg-roxo6"><i class="fas fa-user-edit me-2"></i><a
                                class="mr-2-5">Meu Perfil</a></li>
                        <li class="list-group-item bg-roxo6"><i class="fas fa-align-left me-3"></i><a
                                href="#">Minhas Postagens</a></li>
                    </ul>
                </div>///coment

            </div>
            <div class="sticky-top">
                <div class="card-body bg-roxo4">
                    <h5> <b>Links Páginas</b> </h5>
                    <ul class="my-3">
                        <li class=""><a> Pagina 1</a></li>
                        <li class=""><a> Pagina 2</a></li>
                        <li class=""><a> Pagina 3</a></li>
                        <li class=""><a> Pagina 4</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="col-md-8 my-4 shadow-sm p-3 mb-5 bg-fundo rounded">
            <div class="d-flex justify-content-center">
                <img class="my-5 img-fluid rounded-circle"
                    src="https://cdn2.bulbagarden.net/upload/2/21/001Bulbasaur.png" width="400px" alt="">
            </div>



            <div class="form-group text-center texto">
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Seu nome"
                    [(ngModel)]="usuario.nome" />
            </div>

            <div class="form-group text-center texto">
                <input [(ngModel)]="usuario.email" class="form-control bg-in mt-2" type="text" name="email" id="email"
                    placeholder="Digite seu email">
            </div>

            <div class="form-group text-center texto">
                <input class="form-control mt-2 bg-in " type="password" name="senha" id="senha"
                    placeholder="Digite a senha (Minimo 8 caracteres, uma letra maiuscula e um número)">
            </div>

            <div class="form-group text-center texto">
                <input [(ngModel)]="usuario.senha" class="form-control mt-2 bg-in " type="password" name="confirmSenha"
                    id="confirmSenha" placeholder="Confirme a senha digitada">
            </div>

            <div class="form-group text-center texto">
                <input [(ngModel)]="usuario.dataNascimento" class="form-control mt-2 bg-in" type="text"
                    name="dataNascimento" id="dataNascimento" placeholder="Data de Nascimento">
            </div>

            <div class="form-group">
                <input [(ngModel)]="usuario.telefone" class="form-control mt-2 bg-in"
                    placeholder="Número de telefone celular precisa ser no formato (99) 99999-9999"
                    required="required" />
            </div>

            <div class="form-group text-center texto">
                <input [(ngModel)]="usuario.fotoPerfil" class="form-control bg-in mt-2" type="text" name="linkFoto"
                    id="linkFoto" placeholder="Link foto de perfil">
            </div>

            <select name="select" class="form-select bg-in mt-2">
                <option class="fw-bolder" value="valor1" selected>Escolha a opção que se aplica ao seu caso
                </option>
                <option class="fw-bolder" value="valor2">Estou em busca de emprego</option>
                <option class="fw-bolder" value="valor3">Gostaria de divulgar vagas de emprego</option>
            </select>

            <div class="form-group text-center texto" id="empresaAtual">

                <input class="form-control bg-in mt-2 empresaAtual" type="text" name="inputEmpresaAtual"
                    id="inputEmpresaAtual" placeholder="Digite o nome da sua empresa">
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-lg btn-outline-danger me-5" type="submit" routerLink="/inicio">
                    Cancelar
                </button>
                <button class="btn btn-lg btn-outline-primary" type="submit" (click)="atualizar()">
                    Atualizar
                </button>
            </div>
        </div>
    </div>-->