<app-menu></app-menu>
<div class="container-fluid bg-fundo">
    <div class="row d-flex justify-content-center">
        <div class="bg-roxo col-md-5 py-2 mt-5 mb-5 rounded-pill ">
            <h1 class="text-center">☟ Entre em Contato ☟</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-start">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="../../assets/img/A1CAA907-C8AC-44C6-B473-2957968BACC3.jpeg" alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Gonzales Walisson</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p>+55 (17) 98836-0281</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="col-md-7 m-5 d-flex text-end bg-perfil">
        
                <img class=" float-end rounded-circle wh-300 ms-3 my-2 img-fluid"
                    src="../../assets/img/A1CAA907-C8AC-44C6-B473-2957968BACC3.jpeg" alt="foto de perfil">
        
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Gonzales Walisson</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p>+55 (17) 98836-0281</p>
                    </li>
                </ul>
                <ul class="list text-start">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="row d-flex justify-content-start">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="../../assets/img/A1CAA907-C8AC-44C6-B473-2957968BACC3.jpeg" alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Gonzales Walisson</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p>+55 (17) 98836-0281</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="col-md-7 m-5 d-flex text-end bg-perfil">
        
                <img class=" float-end rounded-circle wh-300 ms-3 my-2 img-fluid"
                    src="../../assets/img/A1CAA907-C8AC-44C6-B473-2957968BACC3.jpeg" alt="foto de perfil">
        
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Gonzales Walisson</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p>+55 (17) 98836-0281</p>
                    </li>
                </ul>
                <ul class="list text-start">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-start">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="../../assets/img/A1CAA907-C8AC-44C6-B473-2957968BACC3.jpeg" alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Gonzales Walisson</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p>+55 (17) 98836-0281</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<app-rodape></app-rodape>