<div class="container-fluid bg-fundo">
    <div class="row d-flex justify-content-center">
        <div class="bg-roxo col-md-5 py-2 mt-5 mb-5 rounded-pill ">
            <h1 class="text-center">Entre em Contato</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-start">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="https://cdn.discordapp.com/attachments/844560176374612029/864852714990338048/gon.jpg"
                alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Gonzales Walisson</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p class="">+55 17 98836-0281</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-end">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="https://media-exp1.licdn.com/dms/image/C4E03AQGp62WhT3CR3w/profile-displayphoto-shrink_200_200/0/1621429726150?e=1631750400&v=beta&t=qUHdPO_GMfJQEsh_9EE2sdFqrV7jSDtKvGewYnV8rew"
                alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Victor de Souza</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">victor.souza0820@gmail.com</p>
                        <p class="">+55 11 94821-8887</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-start">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="https://media-exp1.licdn.com/dms/image/C4E03AQFqiwZ4kJs3eA/profile-displayphoto-shrink_200_200/0/1621441127754?e=1631750400&v=beta&t=-NYlbNv2fV2hcLqcaa8Ss6XgG6BJDwxZm1mxGUT2Yww"
                alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Ricardo Oliveira</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">walisson.gonzales@gmail.com</p>
                        <p class="">+55 11 99339-4467</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-end">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="https://media-exp1.licdn.com/dms/image/C4E03AQFcylFSgJlVRQ/profile-displayphoto-shrink_200_200/0/1621441450058?e=1631750400&v=beta&t=UpPS8j7514FMkaULVAD8QJawBCAdo8aax9mDxzw-API"
                alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Guilherme Jorge</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">guilhermejorgee@gmail.com</p>
                        <p class="">+55 11 94888-9098</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-start">
        <div class="bg-perfil col-md-7 m-5 d-flex">
            <img class=" rounded-circle wh-300 ms-3 my-2 img-fluid"
                src="https://media-exp1.licdn.com/dms/image/C4D03AQGNonhGtP4d8A/profile-displayphoto-shrink_200_200/0/1625254247298?e=1631750400&v=beta&t=GLddA-Oj80PnC8mRORsac3D2pq126iF_zU5h7NDl3BM"
                alt="foto de perfil">
            <div class="col-md-7">
                <ul class="list">
                    <li>
                        <h4 class="mt-4">Elton Santos</h4>
                        <p class="ps-3">Desenvolvedor Full Stack Java Junior</p>
                        <p class="ps-3">elton.santos07@outlook.com</p>
                        <p class="">+55 11 94997-5951</p>
                    </li>
                </ul>
                <ul class="list text-end">
                    <li class="">
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/walisson-gonz" target="_blank" class="icoGitHub"><i
                                class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>