<div id="tela">

<div class="container-fluid">

   <div class="row d-flex justify-content-start enable-mobile">
        <div class="col-md-12 p-3 enable-mobile">
            <a class="v-p-l texto" routerLink="/entrar"><i class="fas fa-chevron-circle-left"></i> Voltar para o Login</a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 d-flex">

            <div class="container-fluid d-flex align-items-center justify-content-center" id="container-central">

                <div class="col-md-7 text-center disable-mobile">
                    <img src="https://i.imgur.com/EoCiFTO.png" alt="">
                </div>

                <div class="col-md-5 bg-l p-3">

                    <div class="container d-flex justify-content-center enable-mobile">


                        <img class="enable-mobile mb-3" src="https://i.imgur.com/4LRmSKg.png" alt="">

                    </div>

                    

                    <div class="form-group text-center texto">
                        <a routerLink="/entrar" class="v-p-l disable-mobile"><p class="text-end"><i class="fas fa-chevron-circle-left"></i> Voltar para o login</p></a>
                        <!-- <label for="usuario">Usuário</label>-->
                        <input [(ngModel)]="usuario.nome" class="form-control bg-in" type="text" name="usuario" id="usuario"
                            placeholder="Digite seu nome">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="usuario">Email</label>-->
                        <input [(ngModel)]="usuario.email" class="form-control bg-in mt-2" type="text" name="email" id="email"
                            placeholder="Digite um email">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="senha">Senha</label> -->
                        <input (input)="confirmSenha($event)" class="form-control mt-2 bg-in " type="password" name="senha" id="senha"
                            placeholder="Digite uma senha">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="senha">Senha</label> -->
                        <input [(ngModel)]="usuario.senha" class="form-control mt-2 bg-in " type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme a senha digitada">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="senha">Senha</label> -->
                        <input [(ngModel)]="usuario.dataNascimento" class="form-control mt-2 bg-in" type="date" name="date" id="date"
                            placeholder="Data de nascimento">
                    </div>

                    <div class="form-group text-center texto">
                        <!-- <label for="usuario">Usuário</label>-->
                        <input class="form-control bg-in mt-2" type="text" name="linkFoto" id="linkFoto"
                            placeholder="Link foto de perfil">
                    </div>

                    <select name="select" class="form-select bg-in mt-2" (change)="tipoUsuario($event)">
                        <option class="fw-bolder" value="valor1" selected>Escolha a opção que se aplica ao seu caso
                        </option>
                        <option class="fw-bolder" value="valor2">Estou em busca de emprego</option>
                        <option class="fw-bolder" value="valor3">Gostaria de divulgar vagas de emprego</option>
                    </select>


                    <div class="d-flex justify-content-center mt-3">
                        <button (click)="cadastrar()" type="submit" class="btn bg-btn w-100">Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>