
<div class="bgroxo pb-3 pt-2 mb-3">
    <h1 class="text-center text-light"> Sobre nós</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center mb-5 p-2">
            <h1>Ingressa</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, deleniti veniam. Natus fugiat ex
                repellendus, necessitatibus ducimus officiis nam voluptatem suscipit. Expedita aliquam quis amet
                suscipit commodi minus illo quibusdam.</p>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle" src="https://i.imgur.com/Q0oGtaJ.jpeg" alt="">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente maiores consequuntur
                    blanditiis recusandae nesciunt, sequi nostrum nobis velit neque hic, vel veniam? Similique
                    blanditiis, quaerat aut beatae esse fugit?</p>
                <div>
                    <a class="iconLinkedin" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle" src="https://i.imgur.com/Q0oGtaJ.jpeg" alt="">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente maiores consequuntur
                    blanditiis recusandae nesciunt, sequi nostrum nobis velit neque hic, vel veniam? Similique
                    blanditiis, quaerat aut beatae esse fugit?</p>
                <div>
                    <a class="iconLinkedin" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle" src="https://i.imgur.com/Q0oGtaJ.jpeg" alt="">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente maiores consequuntur
                    blanditiis recusandae nesciunt, sequi nostrum nobis velit neque hic, vel veniam? Similique
                    blanditiis, quaerat aut beatae esse fugit?</p>
                <div>
                    <a class="iconLinkedin" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
    </div>
    <div class="row d-flex justify-content-center d-flex">
        <div class="col-md-4">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle" src="https://i.imgur.com/Q0oGtaJ.jpeg" alt="">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente maiores consequuntur
                    blanditiis recusandae nesciunt, sequi nostrum nobis velit neque hic, vel veniam? Similique
                    blanditiis, quaerat aut beatae esse fugit?</p>
                <div>
                    <a class="iconLinkedin" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
        <div class="col-md-4">
            <div class="container d-flex flex-column align-items-center text-center">
                <img class="h-50 w-50 rounded-circle" src="https://i.imgur.com/Q0oGtaJ.jpeg" alt="">
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente maiores consequuntur
                    blanditiis recusandae nesciunt, sequi nostrum nobis velit neque hic, vel veniam? Similique
                    blanditiis, quaerat aut beatae esse fugit?</p>
                <div>
                    <a class="iconLinkedin" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    <a class="iconGithub" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>


    </div>
</div>
