<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <div class="col-md-3 bg-azul">
            <div class="my-3 bg-azul">
                <div class=" d-flex mr-auto justify-content-center">
                    <div class="col-md-6">
                        <img src="{{verificaFoto()}}" class="card-img-top img-fluid rounded-circle  my-3" alt="...">
                    </div>

                </div>

                <div class="card-body text-center bg-azul">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item bg-azul"><a> Meu Perfil</a></li>
                        <li class="list-group-item bg-azul"><a routerLink='/minhas-postagens'> Minhas Postagens</a></li>
                        <li class="list-group-item bg-azul"><a> Meus contatos</a></li>

                    </ul>
                </div>
            </div>

            <div class="card my-2 bg-roxo3">
                <div class="card-body  text-center bg-roxo3">
                    <h5> <b>Links Páginas</b> </h5>

                    <ul class="list-group list-group-flush my-3">
                        <li class="list-group-item bg-roxo3"><a> Pagina 1</a></li>
                        <li class="list-group-item bg-roxo3"><a> Pagina 2</a></li>
                        <li class="list-group-item bg-roxo3"><a> Pagina 3</a></li>
                        <li class="list-group-item bg-roxo3"><a> Pagina 4</a></li>
                    </ul>
                </div>
            </div>
        </div>





        <div class="col-md-6 bg-white">
            <div class="card  my-3 bg-roxo2">

                <h4 class="text-roxo my-3 mx-4"> Publicar Postagem</h4>

                <div class="row my-3 mx-2 d-flex align-items-center">

                    <div class="col-md-2 my-2">
                        <img src="../../assets/img/imgTeste.jpg" class="card-img-top img-fluid rounded-circle"
                            alt=" Foto de Perfil" style="width: 50px;">
                    </div>

                    <div class="col-md-9 my-2">

                        <button class="btn btn-outline-secondary bg-white text-dark w-100 text-start"
                            data-bs-toggle="modal" data-bs-target="#publicacaoModal"> Criar uma nova postagem </button>

                        <!-- <input type="text" class="form-control" placeholder="Criar uma nova postagem"
                            aria-label="publicacao" data-bs-toggle="modal" data-bs-target="#publicacaoModal" >   -->
                    </div>
                </div>
            </div>






            <div class="card my-3 bg-roxo2">

                <h4 class="text-roxo my-3 mx-4">Postagens</h4>


                    <ul style="list-style-type: none;" *ngFor='let item of postagens'>

                        <li>

                            <div  class="card my-3 mx-3">
                                <div class="mx-4 my-3 mr-auto">
                                    <img src="../../assets/img/imgTeste.jpg"
                                        class="card-img-top img-fluid rounded-circle" alt="..." style="width: 50px;">

                                    <p>{{item.usuario.nome}}</p>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title text-center"><b>{{item.titulo}}</b></h5>
                                    <p class="card-text my-3">{{item.texto}}</p>
                                </div>
                                <div class="d-flex justify-content-center my-2">
                                    <img src="../../assets/img/imgTeste.jpg" class="card-img-top img-fluid" alt="..."
                                        style="width: 500px;">
                                </div>

                                <div class="card-body d-flex justify-content-around mb-2">
                                    
                                    <button class="btn btn-outline-success"> <a href="#">{{item.qtCurtidas}} Gostei</a> </button>
                                    <button class="btn btn-outline-secondary"> <a href="#">Comentar</a> </button>
                                    <button class="btn btn-outline-primary"> <a href="#">Compartilhar</a> </button>
                                </div>
                            </div>

                        </li>

                    </ul>




            </div>
        </div>





        <div class="col-md-3 bg-azul">
            <div class="card my-3 bg-roxo3">
                <div class="card-body  text-center">
                    <h5> <b>Ranking</b> </h5>

                    <ul class="list-group list-group-flush my-3">
                        <li class="list-group-item bg-roxo3"><a> Pagina 1</a></li>
                        <li class="list-group-item bg-roxo3"><a> Pagina 2</a></li>
                        <li class="list-group-item bg-roxo3"><a> Pagina 3</a></li>
                        <li class="list-group-item bg-roxo3"><a> Pagina 4</a></li>
                    </ul>
                </div>
            </div>

            <div class="card my-2 bg-roxo3">
                <div class="card-body  text-center">
                    <h5> <b>Postagens em Alta</b></h5>

                    <ul class="list-group list-group-flush my-3" *ngFor='let item of postagensEmAlta'>
                        <li class="list-group-item bg-roxo3"><a>{{item.titulo}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="publicacaoModal" tabindex="-1" aria-labelledby="publicacaoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-roxo text-center">
                    <h5 class="modal-title text-white" id="publicacaoModalLabel">Nova Publicação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="container-fluid d-flex flex-column align-items-center">

                        <h5>Titulo</h5>

                        <input [(ngModel)]="postagem.titulo" class="form-control w-100" type="text">

                        <h5>Texto</h5>

                        <textarea [(ngModel)]="postagem.texto" class="form-control" placeholder="Escreva sua publicação" name="textoPublicacao" id=""
                            cols="30" rows="8"></textarea>


                        <div class="form-group my-3 mx-3">
                            <select *ngFor='let item of temas' [(ngModel)]="temaEscolhido"  class="form-control" name="tema" id="tema" (change)="findByIdTema()">
                                <option  value="{{item.id}}">{{item.area}}</option>
                            </select>

                        </div>
                    </div>

                </div>
                <div class=" row modal-footer d-flex justify-content-around mx-3">

                    <div class="col-md-2">
                        <a href="#" type="file">Foto</a>
                    </div>

                    <div class="col-md-2">
                        <a href="#" type="file">Video</a>
                    </div>

                    <div class="col-md-2">
                        <a href="#" type="file">Arquivo</a>
                    </div>

                    <div class="col-md-4">
                        <button data-bs-dismiss="modal" (click)="PostPostagensComum()" type="button" class="btn btn-secondary bg-roxo">Publicar</button>
                    </div>






                </div>
            </div>
        </div>
    </div>


</div>