<div class="container-fluid bg-fundo">

    <div class="row d-flex justify-content-center">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-7 flex-column">

                <div class="bg-roxo container rounded-3 mt-3 mb-3 pb-3 ">
                    <h3 class="text-center">Procure um novo emprego</h3>
                    <div class="d-flex justify-content-center">
                        <input placeholder="🔎 Cargo ou area" type="text" class="w-50  me-2">
                        <input placeholder="Região" type="text" class="m-auto w-50  me-2">
                        <button class="ms-auto rounded-3">Pesquisar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bg rounded-3  mt-3 mb-3 pb-3 ">
                <h6 class="text-center">Pensando em publicar uma vaga para sua empresa?</h6>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary bg-perfil text-center text-dark" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Crie uma Vaga</button>

                </div>

            </div>
        </div>

        <div class="container px-5 pb-3">
            <div class="row bg-perfil pb-3 rounded-3">
                <h3 class="text-center py-2">Vagas em aberto</h3>


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-4 d-flex flex-column align-items-center">
                                                    <div class="card  tm-card">
                                                        <img src="" class="card-img-top">
                                                        <div class="card-body tm-card">
                                                            <h4 class="card-title">test 1</h4>
                                                            <div>
                                                                <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas ipsum, quisquam, excepturi earuipsicing elit. Qui in dicta voluptas quidem vel. Iste, facere quo? Sed praesentium odit cumque magni ipsum rerum. Itaque laudantium minus velit mollitia in? vero fuga. 123 adasdad arere
                                                                    123123
                                                                    sadasda oror
                                                                    949494 gfifif 49494 dddd 32992 dddd 393939 ddd </p>
                                                            </div>

                                                        </div>
                                                        <button type="button" class="btn  bg-roxo text-white">Saber
                                                            mais</button>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-lg-4 d-flex flex-column align-items-center">
                                                    <div class="card tm-card">
                                                        <img src="" class="card-img-top">
                                                        <div class="card-body tm-card">
                                                            <h4 class="card-title">teste 2 </h4>
                                                            <p class="card-text">Skin masks help us to make are skin
                                                                fresh and also they protect our skin from the harm
                                                                rays of sun</p>
                                                        </div>
                                                        <button type="button" class="btn  bg-roxo text-white">Saber
                                                            mais</button>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-lg-4 d-flex flex-column align-items-center">
                                                    <div class="card tm-card">
                                                        <img src="" class="card-img-top">
                                                        <div class="card-body ">
                                                            <h4 class="card-title">teste 3</h4>
                                                            <p class="card-text">Skin masks help us to make are skin
                                                                fresh and also they protect our skin from the harm
                                                                rays of sun</p>


                                                        </div>
                                                        <button type="button" class="btn  bg-roxo text-white">Saber
                                                            mais</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-4 d-flex flex-column align-items-center ">
                                                    <div class="card tm-card">
                                                        <img src="" class="card-img-top">
                                                        <div class="card-body">
                                                            <h4 class="card-title"> teste teste teste 4
                                                            </h4>
                                                            <p class="card-text">Skin masks help us to make are skin
                                                                fresh and also they protect our skin from the harm
                                                                rays of sun</p>


                                                        </div>
                                                        <button type="button" class="btn  bg-roxo text-white">Saber
                                                            mais</button>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-lg-4 d-flex flex-column align-items-center ">
                                                    <div class="card tm-card">
                                                        <img src="" class="card-img-top">
                                                        <div class="card-body">
                                                            <h4 class="card-title">teste 5 teste 5 teste 5 teste 5</h4>
                                                            <p class="card-text">Skin masks help us to make are skin
                                                                fresh and also they protect our skin from the harm
                                                                rays of sun</p>


                                                        </div>
                                                        <button type="button" class="btn  bg-roxo text-white">Saber
                                                            mais</button>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-lg-4 d-flex flex-column align-items-center ">
                                                    <div class="card tm-card">
                                                        <img src="" class="card-img-top">
                                                        <div class="card-body">
                                                            <h4 class="card-title">teste 6 teste 6 teste 6 teste 6</h4>
                                                            <p class="card-text">Skin masks help us to make are skin
                                                                fresh and also they protect our skin from the harm
                                                                rays of sun</p>


                                                        </div>
                                                        <button type="button" class="btn  bg-roxo text-white">Saber
                                                            mais</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon me-auto" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon ms-auto" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Criando Vaga</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Publicar</button>
                </div>
            </div>
        </div>
    </div>
</div>
